body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --bg-color: #2e2e8b;
  --bg-color2: #45af6873;
  --text-color: #fff;
  --main-color: #5360b4;
  --second-color: #cf5c62;
  --other-color: #f595be;
  --h1-font: 3rem;
  --h2-font: 2rem;
  --h3-font: 1.2rem;
  --p-font: 1rem;
}

