.searchbar button {
    padding: 6px 30px;
    border: none;      
    border-top-right-radius: 10px;

    background-color: var(--main-color);
    color:var(--text-color);
    
    transition: all 0.2s;
    font-family: 'Roboto Mono', monospace;

}

.searchbar button:hover {
    background-color: var(--other-color); 
}


.searchbar input {
    border: none;      
    height: 60%; 
    margin-top: 6px;
    border-top-left-radius: 10px;
    padding: 7px 30px;
    box-shadow: 3px 3px 10px rgb(61, 35, 139);
    font-family: 'Roboto Mono', monospace;
}